body {
    background-color: #f0f4f8;
    font-family: 'Noto Sans', sans-serif;
}

a {
    color: #38598b;
    text-decoration: none;
    }

a:hover {
    color: #2a3d5f;
}

.container {
    margin: 60px auto;
    max-width: 600px;
    padding: 20px;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    color: #113f67;
    text-align: center;
}

form {
    background-color: #fff;
    border-radius: 10px;
    
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
   
}
.input-examples {
    font-size: 12px;
    color: #7a8aa2;
    text-align: left;
    margin-top: 10px;
}
.input {
    flex-grow: 1;
        margin-right: 10px;
    padding: 10px;
    border: 2px solid #d1d9e6;
    border-radius: 25px;
    outline: none;
    }

.input:focus {
    border-color: #38598b;
}

.button {
    background: #38598b;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
    }

.button:hover {
    background: #2a3d5f;
}

.answer {
    background-color: #e7eaf6;
    border-radius: 10px;
    padding: 20px;
    border-left: 5px solid #38598b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    line-height: 1.5;
}

footer {
    text-align: center;
    font-size: 14px;
    padding: 20px;
    margin-top: 30px;
    background-color: #e7eaf6;
    
}